<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello Page</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <form action="/greet" method="get">
        <input type="text" name="name" placeholder="Enter your name"/>
        <button type="submit">Enter</button>
    </form>

    <p th:text="${message}"></p>

    <div th:if="${names != null and !#lists.isEmpty(names)}">
        <h3>Saved Names:</h3>
        <ul>
            <li th:each="n : ${names}">
                <span th:text="${n.name}"></span>
                <a th:href="@{/delete/{id}(id=${n.id})}">
                    <button class="delete-btn">Delete</button>
                </a>
            </li>
        </ul>
    </div>

</body>
</html>